In [1]:
import numpy as np
import pandas as pd
import sys #python3 
import matplotlib.pyplot as plt
import datetime
from scipy import stats

In [2]:
# source link: https://www.oecd-ilibrary.org/environment/data/oecd-environment-statistics_env-data-en
#Possible question: Is there any difference in energy tax for climate change between Germany, United States, Brazil and China?

df_climate_tax = pd.read_csv('cleaned_datasets/cleaned_tax_climate.csv')
countries_climate_tax = df_climate_tax[(df_climate_tax['Country'] == 'Germany') | 
                                       (df_climate_tax['Country'] == 'United States')]



countries_climate_tax

#this dataset will leave it for future research.

,Country,Variable,Category,Environmental domain,Year,Unit,value
9393,Germany,"Tax revenue, millions USD",Transport,Total environment,1994,US Dollar,8730.887000
9394,Germany,"Tax revenue, millions USD",Resources,Total environment,1994,US Dollar,28.345675
9395,Germany,"Tax revenue, millions USD",Pollution,Total environment,1994,US Dollar,647.253700
9396,Germany,"Tax revenue, millions USD",Energy,Total environment,1994,US Dollar,43346.530000
9397,Germany,"Tax revenue, millions USD",All tax bases,Total environment,1994,US Dollar,52753.020000
...,...,...,...,...,...,...,...
27834,United States,"Tax revenue, millions USD",All tax bases,Climate change,2015,US Dollar,102320.170000
27835,United States,"Tax revenue, millions USD",Transport,Climate change,2016,US Dollar,19188.906000
27836,United States,"Tax revenue, millions USD",Pollution,Climate change,2016,US Dollar,526.642000
27837,United States,"Tax revenue, millions USD",Energy,Climate change,2016,US Dollar,83700.140000
27838,United States,"Tax revenue, millions USD",All tax bases,Climate change,2016,US Dollar,103464.810000